/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.widget__container {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.widget__container * {
    box-sizing: border-box;
}

.widget__box {
    display: flex;
    justify-content: space-evenly;
    margin: 3rem;
}

.widget__box form {
    width: 600px;
    position: relative;
}

.disclaimer {
    width: 600px;
    padding-left: 30px;
}

.widget__btn {
    display: inline-block;
    font-weight: 400;
    color: #007bff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-color: #007bff;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
}

.widget__btn:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.widget__input {
    display: block;
    width: 100%;
    height: 35px;
    padding: .375rem .75rem;
    margin: 1rem auto;
    /*    font-size: 1rem;*/
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
}

.widget__input:disabled {
    background-color: #e9ecef;
    opacity: 1;
}

.widget__message {
    display: flex;
    visibility: hidden;
    margin-top: 30px;
    align-items: center;
}

.widget__message img,
.widget__error img {
    width: 40px;
    margin-right: 10px;
}

.widget__error {
    display: flex;
    visibility: hidden;
    align-items: center;
    margin-top: 30px;
}

.widget__input.invalid {
    border: 1px solid red;
}

.passKey__error {
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px 15px;
    position: absolute;
    z-index: 1;
    bottom: 71%;
    left: 58.8%;
    opacity: 0;
    transition: opacity 0.3s;
}

.passKey__error::after,
.passPhrase__error::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.passPhrase__error {
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px 15px;
    position: absolute;
    z-index: 1;
    bottom: 44.5%;
    left: 58.8%;
    opacity: 0;
    transition: opacity 0.3s;
}

.hide {
    display: none;
}