.widget__box {
    background-color: #fff;
    border-radius: 0px;
    box-shadow: 0 10px 30px -7px rgba(0, 0, 0, 0.35);
    position: relative;
    height: 100%;
}

.widget__box #clientForm {
    padding: 30px 40px;
    visibility: visible;
}

.widget__box.loading #clientForm {
    visibility: hidden;
}

.widget__box h2 {
    margin: 20px 0;
}

.widget__form-control {
    margin-bottom: 15px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;

    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.widget__form-control.error .widget__input {
    border-color: #e74c3c;
}

.widget__form-control label {
    display: block;
    margin-bottom: 5px;
}

.widget__input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.widget__form-control small {
    color: #e74c3c;
    visibility: hidden;
}

.widget__form-control.error small {
    visibility: visible;
}



.widget__form-control:nth-child(4) {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#widget__phrase-container {
    font-size: 48px;
    font-weight: bold;
    color: #065492;
}

.widget__box.loading {
    background-color: #eaeaea;
}

.widget__loader {
    visibility: hidden;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
}

.widget__box.loading .widget__loader {
    visibility: visible;
}

.widget__message {
    height: 70px;
    display: flex;
    transition: visibility 0s linear 300ms;
}

.widget__message div {
    display: flex;
    align-items: center;
}

.widget__message img {
    width: 50px;
    margin-right: 20px;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hide {
    display: none !important;
}

.titleHead {
    margin-top: 150px;
    margin-bottom: 50px;
    color: #222;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleHead h6 {
    font-size: 200%;
    color: #065492;
    font-weight: 800;
    margin-bottom: 20px;
}



.oneTimeID {
    text-align: center;
    color: #065492;
    font-weight: 600;
    font-size: 24px;
    margin: 20px 0;
}

.oneTimeLabel {
    text-align: center;
    color: #222;
    padding: 5px 30px 20px;
}

.rightBox {
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #222;
    transition: opacity 0s linear 300ms;
    height: 100%;
}



.rightBox div {
    padding: 5px 30px;
    text-align: center;
}



.confirmationIDBox {
    padding: 50px 100px;
    color: #222;
    text-align: center;
}

#createdID {
    font-weight: bold;
    font-size: 48px;
    color: #065492;
    margin: 10px 0 30px;
}

#finaleBox {
    border-radius: 0px;
    box-shadow: 0 10px 30px -7px rgba(0, 0, 0, 0.35);
    text-align: center;
    padding: 50px;
    margin-bottom: 30px;
    color: #222;
}

#finaleBox h6 {
    color: #065492;
    font-weight: 600;
    font-size: 24px;
}

@media (max-width: 992px) {
    #contentBox_right {
        margin-top: 50px;
    }

    .widget__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .titleHead {
        padding-left: 10px;
        padding-right: 10px;
    }

    .texter {
        padding-left: 50px;
        padding-right: 50px;
    }
}
